
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blanchedalmond
}


h1 {
    

    font-size: xx-large;
    font-family: "Uncial Antiqua", cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 62px;
    letter-spacing: 22px;
    word-spacing: -5px;
    text-shadow: rgb(0, 0, 0) 17px -5px 7px;
}

html { 
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(https://images.unsplash.com/photo-1564404821544-f2b09075c8aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHw%3D&w=1000&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%); */
  }
  

header {
    height: 100px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: blanchedalmond;
}

/* main {
    display: flex; 
    justify-content: center;
} */

form {
    width: 1000px;
    height: 50px;
    background-color:clear;
    position: relative;
    display: flex; 
    flex-direction:row;
    justify-content: space-evenly; 
    align-items: center;
    margin: 30px;
    margin-left:150px;
    /* color: white; */
}

button {
    background-color:
    transparent;
    width: 500px;
    height: 32px;
    color: blanchedalmond;
    border: 1px solid black;;
    margin: 0px;
    display:inline-block;
}

input[type='text'] {
    width: 100%;
    height: 30px;resize: none;
    border:none;
    border-bottom: 2px solid #232323;
    color:blanchedalmond;
    background-color: black;

}
input::placeholder{
    color:blanchedalmond;
}

/* #ratings-container {
    width: 85%;
} */

#radio-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.movie-cover {
    width: 500px; 
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.movie-card {
    background-color: clear;
    width: 500px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.movie-location {
    font-size: 18px;
    margin: 5px 0;
}

/* .movie-rating {
    font-size: 15px;
    margin: 5px 0;
} */

.btns-container {
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

.btns-container > button {
    width: 20px;
}